.body {
    max-width: 700px;
    margin: auto;
    font-family: "Poppins", sans-serif;
    margin: 20px;
    text-align: justify;
}

.body__header {
    margin: auto;
    padding: 1px 10px;
    text-align: center;
    background-color: rgb(246, 246, 234);
    width: fit-content;
    border-radius: 20px;
    box-shadow: 5px 4px 6px 0px #B9BFB9;
}